.contact-background-box {
  margin: 0 auto;
  float: none;
  background: #EDEDED;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 70px;
  padding-bottom: 25px;
  height: 785px;
  box-shadow: 0px 2px 20px 0px rgba(237, 237, 237, 0.7);
}
.adjust-input {
  width: 100%;
  height: 38px;
}

@media only screen and (max-width: 768px){
  .skinny_wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 575px){
  .skinny_wrapper {
    width: 80%;
  }
  textarea {
    min-height: 10em;
  }
  .adjust-input {
    width: 100%;
    height: 38px;
  }
}
.wrapper_padding {
  padding: 3em 0 5em 0;
}
.skinny_wrapper {
  width: 50%;
  max-width: 760px;
  margin: 0 auto;
}
input[type="text"], input[type="email"], select[type="objet"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 1px solid $grey-on-white;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 15em;
}
