/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper{
 min-height: 90vh;
}
.home-btn-display > li {
  list-style: none;
  display: list-item;
  text-align: center;
}
.home-btn-display {

}


