/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper{
 min-height: 100vh;
}
.banner-content > li {
  list-style: none;
  display: list-item;
  text-align: center;
}


