.sub-navbar {
  background-color: #CAC7C7 ;
  height: 70px;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow:0px 1px 0.8px rgba(8,8,8,0.5);
  -moz-box-shadow:0px 1px 0.8px rgba(8,8,8,0.5);
  box-shadow:0px 1px 0.8px rgba(8,8,8,0.5);
}
.sub-navbar h3 {
  padding-left: 15px;
  padding-top: 3px;
}

// Descriptrion
.flat-pic-show {
  height: 280px;
  margin: 10px;
  background-size: cover !important;
  border-radius: 2px;
}
.border-box {
  margin: 0px 10px 0px 10px;
}
.subtitle-border {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #333333;
  line-height: 35px;
}
.subtitle-border h4 {
  padding-right: 5px;
  font-weight: bolder;
  margin-top: 10px;
}
.characteristics {
  padding: 17px 15px 0 15px;
}
.label-tag li {
  background-color: rgba(9, 9, 9, 0.8);
  padding: 3px;
  color: $white;
  margin-bottom: 4px;
}

// Opinion
.text-opinion {
  padding: 17px 15px 0 15px;
}

// Environment

.text-info {
  padding: 17px 15px 0 15px;
  color: $black;
}
.text-info p {
  font-weight: lighter;
  line-height: 15px;
}
// Map
.map-position {
  margin: 17px 15px 0 15px;
  border: 1px solid rgba(black,0.4);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}
// Call-to-Action
.call-to-action {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}


.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  position: absolute;
  top: 40% !important;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
#carousel-custom {
  margin: 20px auto;
  margin-top: 10px !important;
  width: 533px;
}
#arrow-background {
  background-image: none !important;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
@media screen and (max-width: 1200px) and (min-width: 1020px){
  #carousel-custom {
    width: 462px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 991px) and (min-width: 802px){
 #carousel-custom {
    margin-left: 10px auto;
  }
}
@media screen and (max-width: 570px) and (min-width: 464px){
   #carousel-custom {
    width: 420px;
    margin-left: 10px auto ;
  }
  .padded {
    padding-top: 1em;
 }
}
@media screen and (max-width: 464px) and (min-width: 385px){
  #carousel-custom {
    width: 340px;
    margin-left: 10px auto ;
  }
  .padded {
    padding-top: 1em;
  }
}
@media screen and (max-width: 385px) and (min-width: 325px){
  #carousel-custom {
    width: 280px;
    margin-left: 10px auto ;
  }
  .padded {
    padding-top: 1em;
  }
  .sub-navbar h3 {
    font-size: 19px;
  }
}
