<div class="map_box">
  <h3><%= flat.property_type %></h3>
  <p><%= flat.description %></p>
  <p><%= flat.price %> €</p>

  <%= link_to "Voir", flat_path(flat), class: "btn-map-box text-center" %>
</div>
