<div class="container">
  <p class="above-background-box"> Vous recherchez un bien spécifique, <%= link_to "nous vous informons avant mise en ligne.", contacts_path, class: "text-link"%></p>
  <div class="row background-box">
    <h4 class="cards-header"><%= @flats.count %> biens immobiliers actuellement en vente</h4>
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= render "shared/flat_card" %>
        </div>
      </div>
    </div>
  </div>
</div>
