<div class="container">
  <div class="row background-box" style="padding-top: 0px">
    <div class="general-information">
      <h3><%= @flat.property_type %></h3>
      <ul class="list-inline text-center sub-navbar">
        <li>
          <strong><p><%= @flat.room_number %></p></strong>
          <strong><p>Chambres</p></strong>
        </li>
        <li>
          <strong><p><%= @flat.square_meters %></p></strong>
          <strong><p>Mètres Carrés</p></strong>
        </li>
        <li>
          <strong><p><%= @flat.pieces_number %></p></strong>
          <strong><p>Pièces</p></strong>
        </li>
      </ul>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div class="flat-description">

      </div>
      <div class="flat-opinion">

      </div>
      <div class="environment">

      </div>
      <div class="call-to-action">

      </div>
    </div>
  </div>
</div>
