<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12">
    <div class="flat-card">
      <div class="flat-pic" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
      <div class="flat-info">
        <div>
          <% @flats.each do |flat| %>
            <h2><%= flat.property_type %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


