<div class="container">
  <div class="row">
    <div class="background-box col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-12">
          <div class="flat-card">
            <div class="flat-pic" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>

            <div class="flat-info">
              <div>
                <h3>Appartement, Paris 15ième</h3>
                <p>Prix: 650 000 €</p>
                <br>
                <p>Nombre de chambre: </p>
                <p>Surface: </p>
                <p>Nombre de pièce: </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

