<div class="footer">
  <div class="footer-social-link">
    <ul class="list-inline">
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-facebook-square fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-twitter fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-linkedin fa-home"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-newsletter form-inline hidden-xs hidden-sm">
    <label for="" style="color: white; font-weight: lighter;margin-bottom: 0!important" >Souscrivez à la newsletter:</label>

    <div class="sendgrid-subscription-widget email-input" data-token="ffedCO4%2FbVU5m3zAWJVWD%2F4rLboqvlp47Kb9k24N7TZS3uSUA92eoVZVUq%2Fvf0Y9SD7uBpArOeTMiH9TEnu6dQ%3D%3D"></div>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "sendgrid-subscription-widget-js");
    </script>
  </div>
</div>
