<div class="footer">
  <div class="footer-social-link">
    <ul class="list-inline">
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-facebook-square fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-twitter fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-linkedin fa-home"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-newsletter hidden-xs hidden-sm">
    <label for="" style="color: white; font-weight: lighter;" >Souscrivez à la newsletter:</label>
    <div class="form-inline">
      <%#= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
       <%#= f.email_field :email,placeholder: "Email...", label: false, :required => true %>
      <%#= f.submit 'Suivez-nous', class: "btn-footer" %>
      <input type="submit" value="Suivez-nous" class="btn-footer" style="border-radius: 0 5px 5px 0;">
      <%# end %>
    </div>
  </div>
</div>
