
<div class="footer">
  <div class="footer-social-link">
    <ul class="list-inline">
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-facebook-square fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-twitter fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#" target=_blank>
          <i class="fa fa-linkedin fa-home"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-newsletter hidden-xs">
    <form class="form-inline">
      <input type="email" placeholder="Email..." class="form-control">
      <input type="submit" value="Rejoignez-nous" class="btn-footer" style="border-radius: 0 5px 5px 0;">
    </form>
  </div>
</div>
