<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1  ">
  <div class="row background-box-custom">
      <h1 class="text-center"> Qui sommes-nous?</h1><br>
      <p style="padding-right: 25px; padding-left: 25px;">EZI-X remplace l'agence immobilière ERA Cambronne et renouvelle l'équipe de direction. Pas d'agents immobiliers mais de véritables responsables de projets immobiliers qui vous accompagnent dans vos transactions. Un projet immobilier revêt une importance capitale et nous nous engageons à délivrer un service à la hauteur de vos enjeux. Notre objectif est la SATISFACTION CLIENT. Parce que votre temps est précieux, nous venons à vous mais si l'envie vous prend, nous serons heureux de vous recevoir dans nos locaux du 113 rue Cambronne, Paris 15ème. N'hésitez pas à nous contacter pour toute demande, nous serons heureux de discuter avec vous de vos projets. +33 1 43 06 04 00 - contact@ezi-x.com </p><br>

      <div class="row row-adjusting">
        <div class="col-xs-12  col-sm-6 col-md-6 person-box">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 avatar-box">
              <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 info-box">
              <div class="profil-info text-center">
                <h4 style="font-weight: bold">Farah Falconi</h4>
                <p style="font-style: italic">Fondateur</p>
                <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>  +33 7 83 64 07 23</p>
                <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>  farah.falconi@ezi-x.com</p>
                <p><a href="https://fr.linkedin.com/in/farah-falconi-92344722" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about"></i> Profile linkedin</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12  col-sm-6 col-md-6 person-box">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 avatar-box">
              <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 info-box">
              <div class="profil-info text-center">
                <h4 style="font-weight: bold">Alix de La Bastide</h4>
                <p style="font-style: italic">Co-fondateur</p>
                <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>  +33 6 67 05 76 54</p>
                <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>  alix.delabastide@ezi-x.com</p>
                <p><a href="https://fr.linkedin.com/in/alix-de-la-bastide-01347718" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about"></i> Profile linkedin</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12  col-sm-6 col-md-6 person-box">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 avatar-box">
              <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 info-box">
              <div class="profil-info text-center">
                <h4 style="font-weight: bold">Jennifer Bostroem</h4>
                <p style="font-style: italic">Manager</p>
                <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>  +33 6 73 90 27 53 </p>
                <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>jennifer.bostroem@ezi-x.com</p>
                <p><a href="https://fr.linkedin.com/in/jennifer-bostroem-2b8017122" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about"></i> Profile linkedin</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12  col-sm-6 col-md-6 person-box">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 avatar-box">
              <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 info-box">
              <div class="profil-info text-center">
                <h4 style="font-weight: bold">Pauline Brugère</h4>
                <p style="font-style: italic">Négociatrice - agent commercial</p>
                <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>  +33 1 43 06 04 00</p>
                <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>  pauline.brugere@ezi-x.com</p>
                <p><a href="https://fr.linkedin.com/in/pauline-brugère-b903b689" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about"></i> Profile linkedin</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
