<div class="container">
  <div class="row">
    <div class="background-box col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1  ">
      <h1 class="text-center">EZY-X Vision et Equipe</h1><br>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br><br><br><br>

      <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-5 col-md-offset-1">
          <div class="profil-box">
            <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            <div class="profil-info">
              <h4 style="font-weight: bold">Adrien Pelegri</h4>
              <p style="font-style: italic">Agent Immobilier</p>
              <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>  06.09.64.54.44</p>
              <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>  adrien@ezy-x.com</p>
              <p><a href="#" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about"></i>  Profile linkedin</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-sm-12 col-md-5">
          <div class="profil-box">
            <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            <div class="profil-info">
              <h4 style="font-weight: bold">Adrien Pelegri</h4>
              <p style="font-style: italic">Agent Immobilier</p>
              <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>   06.09.64.54.44</p>
              <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>  adrien@ezy-x.com</p>
              <p><a href="#" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about" style="text-decoration: none; color: $black;"></i>  Profile linkedin</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-sm-12 col-md-5 col-md-offset-1">
          <div class="profil-box">
            <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            <div class="profil-info">
              <h4 style="font-weight: bold">Adrien Pelegri</h4>
              <p style="font-style: italic">Agent Immobilier</p>
              <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>   06.09.64.54.44</p>
              <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>  adrien@ezy-x.com</p>
              <p><a href="#" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about" style="text-decoration: none; color: $black;"></i>  Profile linkedin</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-sm-12 col-md-5">
          <div class="profil-box">
            <div class="avatar-square" style="background-image: url(<%= image_path 'about_pic.jpg' %>);"></div>
            <div class="profil-info">
              <h4 style="font-weight: bold">Adrien Pelegri</h4>
              <p style="font-style: italic">Agent Immobilier</p>
              <p><i class="fa fa-phone fa-about" aria-hidden="true"></i>   06.09.64.54.44</p>
              <p><i class="fa fa-envelope fa-about" aria-hidden="true"></i>  adrien@ezy-x.com</p>
              <p><a href="#" target=_blank><i class="fa fa-linkedin fa-about lk-fa-about" style="text-decoration: none; color: $black;"></i>  Profile linkedin</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
