<div class="banner" style="background-image: linear-gradient(-225deg, rgba(168, 132, 0, 0.31) 0%, rgba(61, 21, 0, 0.2) 50%), url('<%= image_path('Home.jpeg')%>');">
  <div class="banner-content">
  </div>
</div>

<div class="home-btn-display">
  <ul>
    <li><%= link_to "NOS BIENS", flat_path, class: "btn-home"%></li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <br><br><br>
    <li><%= link_to "ESTIMATION", contact_path, class: "btn-home" %></li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </ul>
</div>
