<div class="banner" style="background-image: url(<%= image_path 'home_pic.jpg' %>);">
  <div class="banner-content">
    <ul style="list-style-type: none">
      <li><%= link_to "NOS BIENS", flats_path, class: "btn-home"%> </li><br>
      <i class="fa fa-chevron-right position-1" aria-hidden="true"></i>

      <li><%= link_to "ESTIMATION", contact_path, class: "btn-home" %></li>
      <i class="fa fa-chevron-right position-2" aria-hidden="true"></i>
    </ul>
  </div>
</div>
