.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 119px;
  border-top: 1px solid $light-grey;
  background: $black;
}
.footer-social-link {
  margin-left: 30px;
  padding-top: 22px;
}
.footer-newsletter {
  input:first-child {
    border-radius: 5px 5px 5px 5px;
    height: 25px;
  }
  input:last-child {
    border-radius: 5px 5px 5px 5px;
    background: $black;
    color: $white;
    border: 1px solid $white;
    font-weight: lighter;
    height: 24px;
    width: 200px;
    margin-top: -5px;
  }
  input:last-child:hover {
    border: 1px solid $white;
    color: $black;
    background: $white;
  }
}
.fa-home {
  color: $white;
  font-size: 27px;
}
.fa-home:hover {
  color: $light-grey;
}
.sendgrid-subscription-widget input {
  margin: 3px 0;
  border-radius: 5px 5px 5px 5px;
  position: relative !important;
}
.sendgrid-subscription-widget label>span {
  font-size: 0;
  font-weight: 100;
  color: black;
}
.email-input {
  width:200px;
}

