.hover-slide {
  position: absolute;
  z-index: 10;
  margin-top: 160px;
}
.hover-slide ul>li {
  margin-bottom: 20px;
  list-style-type: none;
}
.carousel .item {
  width: 100%;
  height: 100%;
 }
.carousel .item img {
  width: 100%;
  height: 100%;
}

