.banner {
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
}
.banner-content ul {
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}
