.btn-footer:focus,.btn-footer:active,.btn-home:focus,.btn-home:active,.pages-cta:focus,.pages-cta:active {
  outline: none !important;
}

.btn-footer {
  background: $black;
  color: $white;
  border: 1px solid $white;
  font-weight: lighter;
  height: 36px;
}
.btn-footer:hover {
  border: 1px solid $white;
  color: $black;
  background: $white;
}

// Btn-home and fa fa arrow positionning
.btn-home {
  font-size: 27px;
  color: #FFFFFF;
  background-color: rgba(9, 9, 9, 0.7);
  text-decoration: none !important;
  text-align: left;
  float: left;
  padding: 19px 20px;
  width: 340px;
  height: 75px;
}
.btn-home:hover {
  border: white 1px solid;
  color: $white;
}
.position-1{
  color: white;
  font-size: 22px;
  position: relative;
  bottom: 48px;
  left: 140px;
}
.position-2 {
  color: white;
  font-size: 22px;
  position: relative;
  bottom: 48px;
  left: 140px;
}
.position-3 {
  color: white;
  font-size: 22px;
  position: relative;
  bottom: 48px;
  left: 140px;
}

// Flat Show CTA
.pages-cta {
  text-decoration: none;
  background-color: $black;
  color: $white;
  border: 1px solid $black;
  border-radius: 30px;
  font-size: 20px;
  font-weight: lighter;
  padding: 5px 46px;
}
.pages-cta:hover {
  background-color: transparent;
  text-decoration: none;
  color: $black;
  border: 1px solid $black;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px 46px;
}
.pages-cta-light {
  background-color: transparent;
  text-decoration: none;
  color: $black;
  border: 1px solid $black;
  border-radius: 30px;
  font-size: 25px;
  font-size: 20px;
  padding: 5px 46px;
}
.pages-cta-light:hover {
  text-decoration: none;
  background-color: $black;
  color: $white;
  border: 1px solid $black;
  border-radius: 30px;
  font-size: 25px;
  font-size: 20px;
  padding: 5px 46px;
}

.pages-cta-light-form {
  background-color: transparent;
  text-decoration: none;
  color: #080808;
  border: 1px solid #080808;
  border-radius: 30px;
  font-size: 18px;
  font-weight: lighter;
  padding: 5px 48px;
}
.pages-cta-light-form:hover {
  text-decoration: none;
  background-color: $black;
  color: $white;
  border: 1px solid $black;
  border-radius: 30px;
  font-size: 25px;
  font-weight: lighter;
}
.pages-cta-light-form:focus,.pages-cta-light-form:active {
  outline: none !important;
}
