.flat-card {
  position: relative;
  background: $white;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 200px;
}
.flat-pic {
  vertical-align: middle;
  height: 200px;
  background-size: cover !important;
  width: 300px;
  background-position: center;
  border-radius: 2px 0 0 2px;
}
.padding-pic {
  padding-left: 0px;
  padding-right: 0px;
}
.type-title {
  border-bottom: 1px solid $light-grey;
}
.flat-price {
  position: absolute;
  top: 13px;
  right: 28px;
  font-size: 25px;
}
.flat-description {
  position: absolute;
  top: 70px;
  font-weight: lighter;
}

.flat-list {
  position: absolute;
  left: 150px;
  top: 130px;
}
.flat-list li {
  padding-right: 25px;
  padding-left: 25px;
}

.list-inline {
  margin-left: 0px;
}
.card-link-default {
  color: $grey-on-white;
}
.card-link-default:hover {
  color: $grey-on-white;
  text-decoration: none;
}
.dp-content {
  display: block;
}


