.flat-card {
  position: relative;
  background: $white;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 200px;
}
.flat-pic {
  vertical-align: middle;
  height: 200px;
  background-size: cover !important;
  width: 300px;
  background-position: center;
  border-radius: 2px 0 0 2px;
}
.padding-pic {
  padding-left: 0px;
  padding-right: 0px;
}
.type-title {
  border-bottom: 1px solid $light-grey;
}
.flat-price {
  position: absolute;
  top: 13px;
  right: 28px;
  font-size: 25px;
}
.flat-description {
  position: absolute;
  top: 70px;
  font-weight: lighter;
}

.flat-list {
  position: absolute;
  left: 150px;
  top: 130px;
}
.flat-list li {
  padding-right: 25px;
  padding-left: 25px;
}

.list-inline {
  margin-left: 0px;
}
.card-link-default {
  color: $grey-on-white;
}
.card-link-default:hover {
  color: $grey-on-white;
  text-decoration: none;
}
.dp-content {
  display: block;
}
.door-icon-size {
  height: 36px;
  width: 52px;
}
.ruler-icon-size {
  height: 29px;
  width: 87px;
}
.bed-icon-size {
  height: 31px;
  width: 51px;
}

@media screen and (max-width:1200px) and (min-width: 994px){
  .flat-pic {
    height: 200px;
    width: 238px;
  }
  .flat-list li {
    padding-right: 20px;
    padding-left: 1px;
  }
}
@media screen and (max-width: 994px) and (min-width: 727px){
  .flat-card {
    height: 180px;
  }
  .flat-pic {
    height: 180px;
    width: 200px;
  }
  .flat-list li {
    padding-right: 20px;
    padding-left: 1px;
    font-size: 12px;
  }
  .type-title h3 {
    font-size: 17px;
  }
  .flat-price {
    top: 17px;
    font-size: 17px;
  }
  .flat-description {
    font-size: 12px;
    top: 59px;
  }
  .flat-list {
    margin-left: -78px;
    margin-top: -12px;
  }
}
@media screen and (max-width: 726px) and (min-width: 630px){
  .flat-card {
    height: 134px;
  }
  .flat-pic {
    height: 134px;
    width: 176px;
  }
  .flat-list li {
    padding-right: 20px;
    padding-left: 1px;
    font-size: 9px;
  }
  .type-title h3 {
    font-size: 15px;
    margin-top: 15px;
  }
  .flat-price {
        font-size: 15px;
    top: 13px;
  }
  .flat-description {
    font-size: 11px;
    top: 49px;
  }
  .flat-description.list-inline {
    margin-left: -92px;
    margin-top: -36px;
  }
  .flat-list {
    margin-left: -65px;
    margin-top: -41px;
  }
  .above-background-box {
    font-size: 15px;
  }
  .cards-header {
    font-size: 13px;
    margin-bottom: 9px;
  }
  .door-icon-size {
    height: 28px;
    width: 44px;
  }
  .ruler-icon-size {
    height: 23px;
    width: 66px;
  }
  .bed-icon-size {
    height: 25px;
    width: 40px;
  }
}
@media screen and (max-width: 630px) and (min-width: 540px){
  .flat-card {
    height: 117px;
  }
  .flat-pic {
    height: 117px;
    width: 151px;
  }
  .flat-list li {
    padding-right: 20px;
    padding-left: 1px;
    font-size: 7px;
  }
  .type-title h3 {
    font-size: 11px;
    margin-left: 0px;
    margin-top: 11px;
  }
  .flat-price {
    font-size: 11px;
    top: 9px;
  }
  .flat-description {
    font-size: 8px;
    top: 41px;
    padding-left: 6px;
    padding-right: 4px;
  }
  .flat-list {
    margin-left: -92px;
    margin-top: -51px;
  }
  .above-background-box {
    font-size: 15px;
  }
  .cards-header {
    font-size: 12px;
    margin-bottom: 9px;
  }
  .row.background-box {
    margin-top: 32px;
  }
  .door-icon-size {
    height: 24px;
    width: 36px;
  }
  .ruler-icon-size {
    height: 19px;
    width: 50px;
  }
  .bed-icon-size {
    height: 23px;
    width: 36px;
  }
}
@media screen and (max-width: 540px) and (min-width: 455px){
  .flat-card {
    height: 114px;
  }
  .flat-pic {
    height: 114px;
    width: 132px;
  }
  .flat-list li {
    padding-right: 20px;
    padding-left: 1px;
    font-size: 7px;
  }
  .type-title h3 {
    font-size: 10px;
    margin-left: 2px;
    margin-top: 11px;
  }
  .flat-price {
    font-size: 10px;
    top: 10px;
  }
  .flat-description {
    font-size: 9px;
    top: 41px;
    padding-left: 6px;
    padding-right: 4px;
  }
  .flat-list {
    margin-left: -103px;
    margin-top: -52px;
    width: 199px;
  }
  .above-background-box {
    font-size: 12px;
    margin-top: 25px;
  }
  .cards-header {
    font-size: 12px;
    margin-bottom: -5px;
  }
  .background-box h4 {
    margin-bottom: 7px !important;
  }
  .row.background-box {
    margin-top: 32px;
  }
  .door-icon-size {
    height: 15px;
    width: 23px;
  }
  .ruler-icon-size {
    height: 12px;
    width: 32px;
  }
  .bed-icon-size {
    height: 13px;
    width: 22px;
  }
}
@media screen and (max-width: 455px) and (min-width: 325px){
  .flat-card {
    height: 92px;
  }
  .flat-pic {
    height: 92px;
    width: 106px;
  }
  .flat-list li {
    padding-right: 20px;
    padding-left: 1px;
    font-size: 5px;
  }
  .type-title h3 {
    font-size: 8px;
    margin-left: 2px;
    margin-top: 11px;
  }
  .flat-price {
    font-size: 8px;
    top: 10px;
  }
  .flat-description {
    font-size: 7px;
    top: 38px;
    padding-left: 6px;
    padding-right: 4px;
  }
  .flat-list {
    margin-left: -117px;
    margin-top: -67px;
  }
  .above-background-box {
    font-size: 10px;
    margin-top: 25px;
  }
  .cards-header {
    font-size: 10px;
    margin-bottom: 9px;
  }
  .background-box h4 {
    margin-bottom: 7px !important;
  }
  .row.background-box {
    margin-top: 32px;
  }
  .door-icon-size {
    height: 15px;
    width: 23px;
  }
  .ruler-icon-size {
    height: 12px;
    width: 32px;
  }
  .bed-icon-size {
    height: 13px;
    width: 22px;
  }
}
