/////////////////////////////////////////////////////// CSS pour l'index de flat
.cards-header {
  margin-bottom: 30px;
  text-align: center;
}
.above-background-box {
  text-align: center;
  color: #CAC7C7;
  font-size: 19px;
  margin-top: 45px;
}
.text-link {
  text-decoration: none;
  color: $white;
  font-weight: bold
}
.text-link:hover {
  text-decoration: none;
  color: $light-grey;
  font-weight: bold;
  text-decoration: underline;
}

/////////////////////////////////////////////////////// CSS pour la show de flat
.sub-navbar {
  background-color: #CAC7C7 ;
  height: 70px;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow:0px 1px 0.8px rgba(8,8,8,0.5);
  -moz-box-shadow:0px 1px 0.8px rgba(8,8,8,0.5);
  box-shadow:0px 1px 0.8px rgba(8,8,8,0.5);
}
.sub-navbar h3 {
  padding-left: 15px;
  padding-top: 3px;
}

// Descriptrion
.flat-pic-show {
  height: 280px;
  margin: 10px;
  background-size: cover !important;
  border-radius: 2px;
}
.border-box {
  margin: 0px 10px 0px 10px;
}
.subtitle-border {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #333333;
  line-height: 35px;
}
.subtitle-border h4 {
  padding-right: 5px;
  font-weight: bolder;
}
.characteristics {
  padding: 17px 15px 0 15px;
}
.box-characteristics {
  border-right: 0.5px dashed $black;
}
.text-position p {
  margin-left: 60px;
}

// Opinion
.text-opinion {
  padding: 17px 15px 0 15px;
}

// Environment
.flexbox-position {
  display: flex;
  align-items: center;
}
.text-info {
  padding: 17px 15px 0 15px;
  color: $black;
}
.text-info p {
  font-weight: lighter;
  line-height: 10px;
}
// Map
.map-position {
  padding: 17px 15px 0 15px;
}
// Call-to-Action
.call-to-action {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}





